@import "big.varies.less";

.big {

    &-underline {
        width: 35.4rem;
        height: .15rem;
        background-color: @tight-lighten-semi-blue-underline-background-color;
        margin: 0 auto 1rem auto;
    }

    &-underline-2 {
        width: 53.4rem;
        height: .15rem;
        background-color: @tight-lighten-semi-blue-underline-background-color;
        margin: 0 auto 1rem auto;
    }
}