@import "colors.varies.less";

@background-color-lightest-blue: #cedbf1;
@background-color-mixed-more-pure-blue: #488afa;
@backgorund-black-color: #222;
@background-dark-blue-color: rgb(28, 84, 133);
@background-color-mixed-more-light-blue: rgba(202, 242, 255, 0.957);

@border-color-middle-mixed-blue: #2771ed;
@border-color-blue-green-mixed-blue: rgba(7, 141, 224, 0.387);

@font-color-mixed-violet: #5d60ed;
@font-color-mixed-more-pure-blue: #090eff;
@font-color-mixed-violet: #5d60ed;
@font-color-mixed-more-pure-blue: #090eff;
@year-font-color: #555;

@white-color: #fff;
@color-fading-out-content: rgb(0,0,0);
@color-fading-out-content-alpha: rgba(0,0,0,0.4);
@color-line-background: #222;
@pink-blue-color: #2b0b85;

@black-color: black;
@close-black: #3a3a3a;
@black-5-alpha-color: rgba(255, 255, 255, 0.005);
@black-10-alpha-color: rgba(0, 0, 0, .1);
@black-12-alpha-color: rgba(0,0,0,0.12);
@black-19-alpha-color: rgba(0,0,0,0.19);
@black-20-alpha-color: rgba(0,0,0,0.2);
@black-24-alpha-color: rgba(0,0,0,0.24);
@black-50-alpha-color: rgba(0,0,0,.5);
@black-60-alpha-color: rgba(0,0,0,.6);
@black-95-alpha-color: rgba(0,0,0,0.95);
@more-lighten-dark-color: #333;

@undefined-blue-color: #0099cc;;
@aliceblue-color: aliceblue;
@blue-most-lightened-color:#33b5e5;
@middle-ligter-blue: #0066cc;
@middle-blue: #0a2ff5;
@middle-more-blue: #3d5cf5;
@darker-blue-color: #000066;
@more-darker-blue-color: #1c5485;
@most-dark-blue: #003380;

@input-blue-border-color: #1410db;

@middle-ligten-blue: #0f9af7;
@more-lighten-blue: rgb(164, 204, 238);
@most-lighten-blue: #cde0f9;
@light-pinkt-white-blue: #a0aef3;
@light-blue-color: #92d4ff;
@tight-lighten-blue-color: #e9f3f9;
@tight-lighten-pink-alpha-75-color: rgba(250,243,255,.75);

@gradient-color-violet-blue: rgba(103, 143, 230);
@gradient-color-light-blue: rgba(157, 184, 243);
@gradient-color-white: white;

@light-blue-color: lightblue;
@lighten-green-blue-color: rgba(228, 248, 255, 0.957);

@gray-lighten-white-color: #ddd;

@most-lightest-red-color: #f2f2f2;
@lighten-red-color: #FFC0C7;
@error-message-red: #d30909;
@dark-red-color: #a52f1c;
@darker-red-color: #860d0d;
@gray-red-color: #888;
@more-dark-red-color: #6b1102;

@pink-color: #9933cc;
@most-lightest-blue: #dde5eb;