@import "colors.varies.less";

/* Here are only basic colors defined */

@color-social-link: #2b0b85;

@color-line-background: #222;

@year-font-color: #555;

@navigation-search-input-background-color: rgba(250,243,255,.75);