@import "colors.varies.less";

@color-social-link: #2b0b85;

@color-line-background: #222;

@year-font-color: #555;

@navigation-search-input-background-color: rgba(250,243,255,.75);

@color-fading-out-content: rgb(0,0,0);
@color-fading-out-content-alpha: rgba(0,0,0,0.4);

@background-color-lightest-blue: #cedbf1;

@border-color-middle-mixed-blue: #2771ed;

@font-color-mixed-violet: #5d60ed;
@font-color-mixed-more-pure-blue: #090eff;