@import "content-box.varies.less";

.@{content-box-main-frame-rounded} {
    display: block;
    border: solid 2px @border-color-blue-green-mixed-blue;
    border-radius: 15px;
    width: 80%;
    box-shadow: 2px 2px 2px 4px lightblue;
    word-wrap: break-word;
}

.@{conten-box-header-content} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    box-sizing: border-box;
    padding: 16px;
    min-height: 53px;
    border: solid 1px @border-color-blue-green-mixed-blue;
    background-color: @background-color-mixed-more-light-blue;
}

.@{content-box-header-content-flex-item} {
    flex-grow: 1;
}

.@{content-box-body-content} {
    margin: 0 auto 0 auto;
    width: 768px;
    min-height: 12pt;
    background-color: @background-color-mixed-more-light-blue;
}