@import "colors.less";

@content-box-main-frame-rounded: content-box--main-frame-rounded;
@conten-box-header-content: conten-box--header-content;
@content-box-header-content-flex-item: content-box--header-content--flex-item;
@content-box-body-content: content-box--body-content;
@content-box-main-frame-rounded-background-color: @border-color-blue-green-mixed-blue;
@content-box-header-content-toc-background-color: @background-color-mixed-more-light-blue;
@content-box-body-content-toc-background-color: @lighten-green-blue-color;
@toc-line-border-color: @gradient-color-white;
@content-box-main-frame-rounded-shadow-color: @light-blue-color;