@import "creator.varies.less";

.creator {

    &-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: @creator-background-color;
        padding: 0 1rem;
        color: @creator-font-color;
    }
}