@import "educational-establisment.varies.less";

.educational-establisment {

    &-heading {
        margin-left: 3.5rem;
    }

    &-tile {
        width: 40%;

        &--end {
            margin-bottom: 1rem;
            margin-left: 5rem;
        }

        &--start {
            margin-top: 1rem;
        }
    }
}