@import "colors.less";

@educational-establishment-tile-background-color: @more-dark-blue;
@educational-establishment-tile-hover-border-color: @gray-lighter-blue-color;
@educational-establishment-tile-hover-font-color: @more-daker-middle-blue-color;