@import "educational-establishment.varies.less";
@import "viewports.less";

.educational-establishment {

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media @viewport--mobile {
            flex-direction: column;
        }
    }

    &-content {

        @media @viewport--small-desktop {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            box-sizing: border-box;
            border: 1px solid @educational-establishment-border-color;
            width: 726.4px;
        }
    }

    &-tile {
        width: 37%;
        height: 60px;
        margin-bottom: 1rem;
        padding: 2rem;
        font-weight: 600;
        border: 3px solid @educational-establishment-tile-background-color;
        transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

        @media @viewport--mobile {
            width: 40%;
            margin-left: 5rem;
        }

        @media @viewport--small-desktop {
            width: 30%;
        }

        &--end {
            margin-bottom: 0;

            @media @viewport--mobile {
                margin-bottom: 1rem;
                margin-left: 5rem;
            }
        }

        &--start {

            @media @viewport--mobile {
                margin-top: 1rem;
            }
        }

        &:hover,
        &:focus {
            border: 3px solid @educational-establishment-tile-hover-border-color;
            color:@educational-establishment-tile-hover-font-color;
        }
    }

    &-heading {

        @media @viewport--mobile {
            margin-left: 3.5rem;
        }
    }
}