@import "colors.less";

@footer-middle-blue-lighter-blue-border-color: @middle-blue-lighter-middle;
@footer-blue-background-color: @dark-lighter-blue;
@footer-blue-font-color: @dark-lighter-blue;
@footer-blue-most-lightener-font-color: @blue-most-lightener-color;
@footer-button-background-color: @lightest-blue-color;
@footer-button-color: @middle-blue-darker;
@footer-button-font-color: @middle-blue-not-so-light;