@import "footer.varies.less";
@import "viewports.less";

.footer {
    margin-left: 8rem;
    border:  1px solid @footer-middle-blue-lighter-blue-border-color;

    @media @viewport--svga {
        margin: 0;
    }

    &-heading-h3 {
        font-size: 2.5rem;
        font-weight: 300;
        color: @footer-blue-background-color;
        margin: 0.25rem 0 0.5rem 0;
        width: 200px;
        text-align: center;
        margin: 0 0 1rem;

        @media @viewport--mobile {
            text-align: left;
            margin: 1rem 0 1rem;
        }
    }

    &-list {
        text-align: left;
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            margin-bottom: 1rem;

            &-2 {
                @media @viewport--mobile {
                    margin-bottom: 0;
                }
            }
        }

        &-link {
            font-size: 1.3rem;
            text-decoration: none;
            color: @footer-blue-most-lightener-font-color;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;

            @media @viewport--wxga-plus-desktop {
                justify-content: left;
            }

            @media @viewport--wsxga-plus-desktop {
                justify-content: left;
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-bottom: 3rem;
        margin-bottom: 3rem;

        @media @viewport--mobile {
            margin: 1rem 0 1rem;
            padding-bottom: 0;
        }

        @media @viewport--wxga-plus-desktop {
            margin: 0;
        }

        @media @viewport--wsxga-plus-desktop {
            margin: 0;
        }
    }

    &-input {
        width: 17rem;
        padding: 0;
        font-family: 'Josefins Sans', sans-serif;
        font-size: 1.8rem;
        color: @footer-blue-font-color;
        outline: none;

        @media @viewport--svga {
            width: 7rem;
            font-size: 0.9rem;
        }

        @media @viewport--small-desktop {
            width: 10rem;
            font-size: 1rem;
        }
    }

    &-btn {
        padding: 1rem;
        background-color: @footer-button-background-color;
        color: @footer-button-color;
        border: 1px solid @footer-button-background-color;
        transition: all .5s;

        @media @viewport--svga {
            padding: 0.25rem;
        }

        @media @viewport--small-desktop {
            padding: 0.5rem;
        }

        &:hover {
            border: 1px solid @footer-button-color;
            color: @footer-button-font-color;
            font-weight: 500;
        }
    }

    &-image {
        width: 60%;
        height: 75%;
        backface-visibility: hidden;
        transition: all .5s;

        @media @viewport--svga {
            width: 80%;
            height: 95%;
        }

        &:hover {
            transform: scale(1.85);
            opacity: .8;

            @media @viewport--wxga-plus-desktop {
                transform: scale(1.5);
                opacity: .8;
            }
        }
    }
}