@border-box--border-box: border-box;

@grid-header-pink-background-color: @pink-color;
@grid-white-fornt-color: @white-color;
@grid-menu-li-most-ligtened-blue-background-color: @blue-most-lightened-color;