@import "image.varies.less";

.image {
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem, @black-box-shadow-color;
    border-radius: .4rem;
    border: .2rem solid @middle-lighter-blue-border-color;

    &-1 {
        transform: translate(-20%, -90%);
    }

    &-2 {
        transform: translate(-70%, -70%);
    }

    &-3 {
        transform: translate(-50%, -50%);
    }

    &-4 {
        transform: translate(-30%, -30%);
    }
}