@import "colors";

@input-placeholder-blue-font-color: @input-blue-border;
@inputd-arker-red-background-color: @darker-red-color;
@input-error-message: @error-message-red;
@error-message-white-font-color: @white-color;
@input-one-placeholder-blue-border-color: @input-blue-border-color;
@one-input-focus-placeholder-background-color: @most-lightest-blue;
@tutorial3-input-background-color: @most-lightest-red-color;