@import "colors.less";

@responsive-container-alice-blue-background-color: @aliceblue-color;
@responsive-navbar-background-color: @more-lighten-iced-blue;
@responsive-main-background-color: @tightest-lighted-blue;
@responsive-footer-background-color: @aliceblue-color;