@import "colors.less";

@black-seclect-white-font-color: @white-color;
@black-select-background-color: @black-flavored-color;
@black-select-option-hover-background-color: @blue-aqua-color;
@black-select-option-checked-outline-border-color: @gray-color;