@import "small.varies.less";

.small {

    &-underline {
        width: 21.7em;
        height: .1rem;
        background-color: @tight-lighten-semi-blue-background-color;
        margin: 0 auto 1rem auto;
    }

    &-underline-2 {
        width: 35.7em;
        height: .1rem;
        background-color: @tight-lighten-semi-blue-background-color;
        margin: 0 auto 1rem auto;
    }
}