@import "small.varies.less";
@import "viewports.less";

.small {

    &-underline {
        width: 21.7em;
        height: .1rem;
        background-color: @tight-lighten-semi-blue-background-color;
        margin: 0 auto 1rem auto;

        @media @viewport--mobile {
            width: 60%;
        }
    }

    &-underline-2 {
        width: 35.7em;
        height: .1rem;
        background-color: @tight-lighten-semi-blue-background-color;
        margin: 0 auto 1rem auto;
    }
}