@import "tutoring-variables.less";

.tutoring {

    &-heading {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.7rem;
        font-weight: 400;
        color: @tutoring-heading-font-color;
        letter-spacing: 0.2rem;
    }
}