@import "typography.varies.less";
@import "viewports.less";

.text-align-center {
    text-align: center;
}

.font {

    &-size {

        &--26 {
            font-size: 26px;
        }
    }

    &-family {

        &--sans-serif {
            font-family: sans-serif;
        }
    }
}

.text {

    &-right {

        @media @viewport--small-desktop {
            font-size: 1rem;
        }

        i {
            font-size: 2rem;
            margin: .5rem;
            color: @text-right-i-font-color;
        }

        span {
            color: @text-right-span-font-color;
        }
    }

    &-left {
        text-align: left;
    }
}