@viewport-large-tv--max-width: 7680px;
@viewport-large-tv--min-width: 1201x;
@viewport-desktop--max-width: 1200px;
@viewport-desktop--min-width: 1025px;
@viewport-notebook-and-laptop--max-width: 1024px;
@viewport-notebook-and-laptop--min-width: 769px;
@viewport-tablet--max-width: 768px;
@viewport-tablet--min-width: 481px;
@viewport-mobile-phone--max-width: 480px;
@viewport-mobile-phone--min-width: 320px;

@viewport--mobile-phone: ~"screen and (max-width: @{viewport-mobile-phone--max-width})";
@viewport--tablet: ~"screen and (min-width: @{viewport-tablet--min-width}) and (max-width: @{viewport-tablet--max-width})";
@viewport--notebook-and-laptop: ~"print, screen and (min-width: @{viewport-notebook-and-laptop--min-width}) and (max-width: @{viewport-notebook-and-laptop--max-width})";
@viewport--desktop: ~"screen and (min-width: @{viewport-desktop--min-width}) and (max-width: @{viewport-desktop--max-width})";
@viewport--large-tv: ~"screen and (min-width: @{viewport-large-tv--min-width}) and (max-width: @{viewport-large-tv--max-width})";

@viewport--tablet-max: ~"screen and (max-width: @{viewport-tablet--max-width})";
@viewport--tablet-min-until-desktop: ~"print, screen and (min-width: @{viewport-tablet--min-width})";
@viewport--desktop-until-tv-min: ~"screen and (min-width: @{viewport-desktop--min-width})";
@viewport--large-desktop-until-large-tv-max: ~"screen and (min-width: @{viewport-desktop--max-width})";

@viewport--mobile-and-tablet: ~"screen and (max-width: @{viewport-tablet--max-width})";
@viewport--tablet-and-desktop: ~"screen and (min-width: @{viewport-tablet--min-width})";
@viewport--desktop-and-tv: ~"screen and (min-width: @{viewport-desktop--min-width})";

@viewport-min-width-993-px: 993px;

@viewport-max-width-450-px: 450px;
@viewport-max-width-601-px: 601px;
@viewport-max-width-800-px: 800px;
@viewport-max-width-960-px: 960px;
@viewport-max-width-1024-px: 1024px;
@viewport-max-width-1250-px: 1250px;
@viewport-max-width-1400-px: 1400px;
@viewport-max-width-1680-px: 1680px;
@viewport-max-width-1920-px: 1920px;
@viewport-max-width-2560-px: 2560px;

@viewport--mobile: ~"screen and (max-width: @{viewport-max-width-450-px})";
@viewport--small-tablet: ~"screen and (max-width: @{viewport-max-width-601-px})";
@viewport--big-tablet: ~"screen and (max-width: @{viewport-max-width-800-px})";
@viewport--svga: ~"screen and (max-width: @{viewport-max-width-800-px})";
@viewport--svga-tablet: ~"screen and (min-width: @{viewport-min-width-993-px})";
@viewport--xga: ~"screen and (max-width: @{viewport-max-width-1024-px})";
@viewport--small-desktop: ~"screen and (max-width: @{viewport-max-width-1024-px})";
@viewport--wxga-desktop: ~"screen and (max-width: @{viewport-max-width-1250-px})";
@viewport--wxga-plus-desktop: ~"screen and (max-width: @{viewport-max-width-1400-px})";
@viewport--wsxga-plus-desktop: ~"screen and (max-width: @{viewport-max-width-1680-px})";


